.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
}

.logo-text span {
    font-weight: 600;
    color: orangered;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
    list-style: none;
}

.nav-links a {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none; /* get rid of underline with real links */
}

.nav-links a:hover {
    color: orangered;
}

a.btn {
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 8px;
}

a.btn-dark {
    border: 2px solid #fff;
    background: transparent;
}

a.btn-orange {
    border: 2px solid transparent; /* makes it stay same size */
    background: orangered;
    transition: all 0.2s;
}

a.btn-orange:hover {
    color: #fff;
    padding: 7px 10px; /* creates size on hover */
}

/* Hide hamburger icon on desktop */
.navbar .menu-icons {
    display: none;
}


/* Media query to hide Get Started button on small screens */
@media screen and (max-width: 769px) {
    .nav-btn {
        display: none;
    }
}

/* Media query for mobile width */
@media screen and (max-width: 600px) {
    .nav-btn {
        display: block; /* show orange button */
    }

    .nav-links {
        display: none; /* Hide top menu on mobile */
        border: 2px solid #fff;
    }

    .navbar .menu-icons {
        display: block; /* show hamburger icon */
        cursor: pointer;
    }
}